<template lang="pug">
    div.img-preview
        a.toggle(v-text="label()", @click.stop.prevent="toggle", href="#")
        slot.content(v-if="toggled")
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            default: "Visual Instructions"
        }
    },
    data() {
        return {
            toggled: false,
            label: () => {
                let lbl = '( ℹ️ ) '
                if(this.toggled)
                    lbl += 'Close '
                else
                    lbl += 'Show '
                
                lbl += this.title
                return lbl
            }
        }
    },
    methods: {
        toggle: function() {
            this.toggled = !this.toggled
        }
    }
}
</script>


<style scoped>
div.img-preview {
    display: block;
}

div.img-preview a.toggle {
    text-decoration: wavy;
}

div.img-preview a.toggle::before {
    display: 'inline';
    content: '';
}

div.img-preview video {
    width: 45rem;

}
</style>